
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.react-datepicker__day.available {
    background-color: green;
}

.react-datepicker__day.unavailable {
    background-color: red;
}

.success {
    color: green;
}

.error {
    color: red;
}
body {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex; 
    justify-content: center;
    align-items: center; 
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="datetime-local"],
.form-group select,
.react-datepicker-wrapper {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


  /* Anpassung des Look-and-Feel der Buttons */
button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.react-datepicker {
    font-size: 0.9rem; 
}

.react-datepicker__week{
    aspect-ratio: 0;
    padding-top: 2%;
}

.react-datepicker__header{
    height: 6rem;
    width: fit-content;
}
.react-datepicker__month-container{
    height: fit-content;
}