
.react-datepicker .available {
    color: green;
}

.react-datepicker .unavailable {
    color: red;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex; /* Nutze Flexbox */
    justify-content: center; /* Zentriere Inhalt horizontal */
    align-items: center; /* Zentriere Inhalt vertikal */
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="datetime-local"],
.form-group select,
.react-datepicker-wrapper {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


  /* Anpassung des Look-and-Feel der Buttons */
button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
.react-datepicker {
    z-index: 2; /* oder eine höhere Zahl, falls nötig */
  }
  .react-datepicker {
    position: absolute; /* oder 'fixed', je nach Bedarf */
    top: 0; /* Anpassen, um die Position zu verschieben */
    left: 30%; /* Zentriert den Kalender horizontal */
    transform: translateY(-70%); 
    width: fit-content;
    height: fit-content;
  }
  