.container_details{
    .res_container{
        margin: 0 auto;
        margin-top: 1%;
    }
    img{
        max-width: 70%;
    }
    .img_detail{
        max-width: 5rem;
    }
    text-align: center;

}